@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #2f2f2f;
  color: #bb86FC;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
body .leftside {
  margin: 0px;
  padding: 10px;
  width: 18%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .leftside .title {
  display: flex;
  align-items: center;
}
body .leftside .title h2 {
  padding-left: 10px;
}
body .leftside .padding {
  padding-top: 50px;
}
body .leftside .flex {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
body .leftside .flex p {
  padding-left: 15px;
}
body .leftside .credit {
  font-size: 11.5px;
}
body .leftside .credit a {
  text-decoration: none;
  color: #bb86FC;
}
body .leftside .credit p {
  margin: 5px auto;
}
body .rightside {
  display: flex;
  flex-direction: column;
  width: 80%;
}
body .rightside .header {
  width: 100%;
  height: 20%;
  background-color: #252525;
  box-shadow: 0px 5px 5px 0px #252525;
}
body .rightside .header .search {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .rightside .header .search div {
  background-color: #5e5e5e;
  height: 22px;
  width: 60%;
  border-radius: 20px;
}
body .rightside .header .profile {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .rightside .header .profile .right {
  display: flex;
  width: 38%;
  justify-content: space-evenly;
}
body .rightside .header .profile .right .hi h2 {
  margin-top: 0;
}
body .rightside .header .profile .right .hi p {
  margin-bottom: 0;
}
body .rightside .header .profile .right .cat {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03DAC6;
}
body .rightside .header .profile .right .cat img {
  width: 43px;
}
body .rightside .header .profile .left {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
body .rightside .header .profile .left div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CF6679;
  width: 80px;
  height: 28px;
  border-radius: 40px;
  color: #121212;
  font-weight: 1200;
}
body .rightside .content {
  width: 100%;
  height: 100%;
  display: flex;
}
body .rightside .content .project {
  width: 65%;
  height: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
body .rightside .content .project .container {
  display: grid;
  width: 98%;
  height: 90%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
body .rightside .content .project .container .items {
  background-color: #252525;
  border-radius: 10px;
}
body .rightside .content .project .container .items p {
  padding-top: 15px;
  padding-left: 15px;
}
body .rightside .content .project .container .items .text {
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(182, 182, 182);
}
body .rightside .content .project .container .items .icons {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
body .rightside .content .project .container .items .icons svg {
  padding-right: 15px;
}
body .rightside .content .other {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body .rightside .content .other .announcements {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding-top: 10px;
}
body .rightside .content .other .announcements .container2 {
  background-color: #252525;
  border-radius: 10px;
  width: 95%;
}
body .rightside .content .other .announcements .container2 .border {
  border-bottom: solid rgb(182, 182, 182) 1px;
  border-top: solid rgb(182, 182, 182) 1px;
}
body .rightside .content .other .announcements .container2 .content2 {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
body .rightside .content .other .announcements .container2 .content2 h4 {
  margin-bottom: 0;
  margin-top: 15px;
}
body .rightside .content .other .announcements .container2 .content2 p {
  font-size: 12.3px;
  color: rgb(182, 182, 182);
  margin-top: 0;
  margin-bottom: 15px;
}
body .rightside .content .other .trending {
  width: 95%;
  height: 45%;
}
body .rightside .content .other .trending .position {
  background-color: #252525;
  border-radius: 10px;
}
body .rightside .content .other .trending .position .picture {
  display: flex;
  align-items: center;
  padding: 12px 40px;
}
body .rightside .content .other .trending .position .picture .img2 {
  width: 38px;
  height: 38px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03DAC6;
}
body .rightside .content .other .trending .position .picture .img2 img {
  width: 28px;
}
body .rightside .content .other .trending .position .picture .text2 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
body .rightside .content .other .trending .position .picture .text2 h4 {
  margin: 0;
}
body .rightside .content .other .trending .position .picture .text2 p {
  margin: 0;
  font-size: 12.3px;
  color: rgb(182, 182, 182);
}

svg {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
